// Write `parsedValues_` to the given result object.
  //
  // NOTE: this moves the values out of `parsedValues_` (to save a string copy
  // for those values that end up in the local vocabulary).
  template <size_t I>
  void writeValues(IdTable* idTablePtr, LocalVocab* localVocab) {
    IdTableStatic<I> idTable = std::move(*idTablePtr).toStatic<I>();
    idTable.resize(parsedValues_._values.size());
    size_t rowIdx = 0;
    std::vector<size_t> numLocalVocabPerColumn(idTable.numColumns());
    for (auto& row : parsedValues_._values) {
      for (size_t colIdx = 0; colIdx < idTable.numColumns(); colIdx++) {
        const TripleComponent& tc = row[colIdx];
        // TODO<joka921> We don't want to move, but also don't want to
        // unconditionally copy.
        Id id = toValueId(TripleComponent{tc}, getIndex(), *localVocab);
        idTable(rowIdx, colIdx) = id;
        if (id.getDatatype() == Datatype::LocalVocabIndex) {
          ++numLocalVocabPerColumn[colIdx];
        }
      }
      rowIdx++;
    }
    AD_CORRECTNESS_CHECK(rowIdx == parsedValues_._values.size());
    AD_LOG_INFO << "Number of tuples in VALUES clause: " << rowIdx << std::endl;
    AD_LOG_INFO << "Number of entries in local vocabulary per column: "
                << absl::StrJoin(numLocalVocabPerColumn, ", ") << std::endl;
    *idTablePtr = std::move(idTable).toDynamic();
  }